@font-face {
    font-family: 'Tiny5';
    src: url('Tiny5-Regular.woff2') format('woff2'),
        url('Tiny5-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

